<nav id="cabecera" class="navbar navbar-expand-sm bg-body-tertiary">
    <div id="centerHeader" class="container-fluid">

        <a class="navbar-brand" href="">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: auto;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sobreapatx">Sobre Apatx</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">
                        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="30" height="30">
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contacto">Contacto</a>
                </li>
            </ul>
        </div>

    </div>
  </nav>
