<app-imagencabecera></app-imagencabecera>

<div id="containerSobreApatx" class="container">
    <div id="containerSobreApatxPeque" class="container">
        <div class="row">
            <div style="border-right: solid;" class="col-md-4"><h3 style="text-align: center; position: relative;top:40%;padding-bottom: 40px;">Conoce Apatx</h3></div>
            <div class="col-md-8">
                <p>Apatx es un centro de psicopedagogía, apoyo escolar e idiomas en el que se trabaja siempre de manera individual o individualizada en grupos súper reducidos de un máximo de 3 alumnos/as. </p>
                <p>Nos adaptamos a cada alumno/a y a su forma particular de aprender, para lograr que su camino académico sea lo más agradable y exitoso posible. </p>
                <p>Para cualquier duda que necesites aclarar, no dudes en ponerte en contacto.</p>
            </div>
        </div>
    </div>
</div>

<div id="containerSobreMi" class="container">
    <div id="containerSobreMiPeque">
        <h3 style="text-align: center; margin-bottom: 20px;">Sobre Mi</h3>
        <div class="row">
            <div style="margin-bottom: 30px;text-align: center;" class="col-md-4"><img style="border-radius: 50%;" src="assets/hoja.jpg" width="150" height="150"></div>
            <div class="col-md-8">
                <p><span class="sobreMiEtiquetas">Nombre: </span>Ainhoa Martinez </p>
                <p><span class="sobreMiEtiquetas">Profesión: </span>Psicopedagoga</p>
                <div><span class="sobreMiEtiquetas" style="float: left;">Titulos: </span>
                    <ul style="float: left;">
                        <li>Psicóloga educativa, número de colegiada GZ03141</li>
                        <li>C1 Euskera</li>
                        <li>C1 Inglés</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>